<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Main Page</title>
  </head>
  <body>
    <div class="slider">
      <ul class="slides">
        <li>
          <%= image_tag "northern-lights.png" %>
          <div class="caption center-align">
            <h1 class="black-text light">Edgar Duran</h1>
            <h4 class="light black-text">Web Developer</h4>
          </div>
        </li>
        <li>
          <%= image_tag "austrian-mtns.png" %>
          <div class="caption center-align">
            <h1 class="black-text light">Edgar Duran</h1>
            <h4 class="light black-text">Web Developer</h4>
          </div>
        </li>
      </ul>
    </div>
    <div class="icons center">
      <%= image_tag "phone.png" %>
      <%= image_tag "gmail.png" %>
      <%= image_tag "linkedin.png" %>
      <%= image_tag "github.png" %>
    </div>
  </body>
  <script> $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
  </script>
</html>
